.section-three-escena {
  background-color: #e3e3e3;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
}

.section-three-escena-texto {
  color: gray;
  padding: 3vw;
  display: grid;
  place-content: center;
}
.section-three-escena-texto h1 {
  font-size: 3vw;
  font-weight: 400;
}
.section-three-escena-texto p {
  font-size: 1.5vw;
  margin-bottom: 2vw;
}

@media (max-width: 650px) {
  .section-three-escena-texto h1 {
    font-size: 5vw;
  }
  .section-three-escena-texto p {
    font-size: 3vw;
  }
}
