* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  height: 100%;
}
#root {
  height: 100vh;
}
