* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  height: 100%;
}
#root {
  height: 100vh;
  font-size: 16px;
}

/* MENOS DE 780 ACTIVA ESTO */

@media (width<= 480px) {
 
  .whatsapp-contacto a {
    font-size: 4vw;
  }
}

@media (width <= 780px) {
  .main-nav li {
    margin: 10px;
  }
  .contenedor-logo {
    text-align: center;
  }
  .contenedor-logo img {
    width: 200px;
  }
  .contacto-contenedor a {
    font-size: 2vw;
  }
}

/* MAS DE 700 ACTIVA ESTO */
@media (min-width: 800px) {
  .contacto-contenedor a {
    font-size: 1.5vw;
  }
  .icon-back p {
    font-size: 1.5vw;
  }
}

/* MAS DE 1100 ACTIVA ESTO */
@media (width >= 1000px) {
  .contacto-contenedor a {
    font-size: 1vw;
  }
  .icon-back p {
    font-size: 1.3vw;
  }
  .modelos-3d-page-boton a {
    font-size: 1vw;
  }
  .copyright-modal {
    font-size: 1vw;
  }
}
/* COMPUTADORAS MAS GRANDES */
@media (width >= 1200px) {
  .contacto-contenedor a {
    font-size: 1vw;
  }
  .icon-back p {
    font-size: 1.2vw;
  }
  .copyright-modal{
    font-size: 3vw;
  }
}
