@font-face {
    font-family: 'Moon';
    src: url('../fonts/Moon-Bold.otf');
  }
  @font-face {
    font-family: 'Queental';
    src: url('../fonts/Queental-Light.otf');
  }
  @font-face{
    font-family:'Proxima Nova';
    src: url('../fonts/Proxima-Nova.otf')
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
    height: 100%;
}
#root{
    height: 100vh;
    font-size: 16px;
    
}
.main-header{
  display:flex;
  justify-content: space-between;
  margin: 20px;
}
.main-nav{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}
.main-nav a{
  border:transparent;
  text-decoration:none;
  color:white;
  padding:5px 10px;
  transition: 0.5s ease-in;
}
.main-nav a:hover{
 background-color:rgb(71, 0, 0);
  border-bottom:10px solid red;
}

.contenedor-img img {
  width: 100%;
  height: auto;
}
.contenedor-logo img {
  object-fit: cover;
  width: 100px;
  cursor: pointer;
}
.contenedor-flecha-bajar{
color:white;
display: flex;
justify-content: center;
}
.contenedor-flecha-bajar a {
  right: 10%;
  text-align: center;
  color:white;
  width: 40px;
}
.flecha-bajar{
  font-size:3vw;
  border-radius: 10px;
  transition:0.3s ease-in-out;
  animation:alternate infinite flecha 1s ease;
}
.flecha-bajar:hover{
  color:red;
  animation-play-state: paused;
}
@keyframes flecha {
  from{
    transform: translateY(10px);
  }
  to{
    transform: translateY(-10px);

  }
}
.section-img{
  position:relative;
}
.boton-cv{
font-size: 2vw;
font-weight: 400;
position:absolute;
color:rgb(209, 209, 209);
text-decoration: none;
border:1px solid rgb(49, 0, 0);
padding:3px 16px;
bottom:10%;
left:20%;
transition:0.5s ease;
background:rgb(153, 0, 0);

}

.boton-cv:hover{
  background-color: rgb(216, 0, 0);
  color:rgb(255, 255, 255);

}
.section-skills{
  padding:20px;
}
.contenedor-skills{
  width: 100%;
  gap:5px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px,1fr))
}
.icon-skill{
  position: relative;
  border:1px solid rgb(49, 49, 49);
  border-radius:5px;
  height: 15vw;
  background:#19191d;
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:.5s;
  cursor: pointer;
  perspective: 1000px;
  overflow: hidden;
}
.icon-skill:hover{
  background:#101013;
}
.icon-skill::after{
  content:attr(data-text);
  font-family:'Poppins',sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  color:white;
  width: 100%;
  height: 30px;
  background-color: rgba(3, 3, 3, 0.575);
  bottom:-30px;
  position:absolute;
  opacity: 0;
  transition: .5s ease-out;
}
.icon-skill:hover::after{
opacity: 1;
bottom:0px;

}
.icon-skill img{
  object-fit: cover;
  width: 9vw;
}
.info-skill{
position: absolute;
top:5%;
right: 5%;
color:rgb(165, 165, 165);
transition: .4s ;
}
.info-skill:hover{
  color:rgb(255, 153, 0);
  transform: scale(1.1);
}
/* ANIMACION 3D DE LAS TARJETAS===================== */
.icon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  font-size: 1.8vw;
  font-weight: 100;
  color:white;
  transform: rotateY(180deg);
  backface-visibility: hidden; 
  z-index: 1000;
  border-radius:5px;
}
.icon-flipped{
  backface-visibility: visible; 
  background-color: #19191d;
  
}
.flipped{
  transform: rotateY(180deg);
}
/* ANIMACION 3D DE LAS TARJETAS===================== */
.skill-text-contenedor{
  padding-left: 4vw;
}
.skill-text-contenedor p{
  color:white;
  font-size: 2vw;
  font-weight: 200;
}
.skill-text-contenedor h2{
  color:white;
  font-weight: 300;
  font-size:3vw;
}
.main-footer{
  color:white;
  padding:20px;
  background-color: #19191d;
}
.footer-text-contenedor{
  margin-bottom:20px;
}
.contacto-contenedor{
  display: flex;

}
.contacto-contenedor a{ 
  text-decoration: none;
  color:white;
  background-color: #292931;
  padding:10px 20px;
  border-radius:5px;
  transition: .3s;
  margin-right:10px;

}
.whatsapp-contacto{
  color:white;
}

.contacto-contenedor a:hover {
background-color: #393944;
}
.whatsapp-icon{
  color:rgb(0, 196, 0);
  margin-right:5px;
}
.telegram-icon{
  color:rgb(0, 140, 255);
  margin-right: 5px;
}
.logo-section{
  position: relative;
}
.contenedor-logo-section img{
  width: 100%;
  height: auto;
}
.logo-section-button-contenedor{
  position: absolute;
  bottom:10vw;
  left: 15vw;
  font-size:1.5vw;
}
.logo-section-button-contenedor a{
  text-decoration:none;
  color:#424242;
  padding:4px 3vw;
  font-weight:400;
  transition:.4s;
  border:#7e7e7e 1px solid;
}
.logo-section-button-contenedor a:hover{
  background-color: #393944;
  color: white;
}
.video-section{
  position:relative;
}
.video-contenedor video{
  width: 100% ;
}
.video-section-text-slogan{
  color:white;
  position:absolute;
  top:6vw;
  left:5vw;
  font-size: 3vw;
  font-weight: 400;
}
.ul-text-list{
  color:white;
  position:absolute;
  left: 5vw;
  bottom:5vw;
  font-size: 1.9vw;
  padding:2vw;
  border:1px solid #59596b;
  border-radius:5px;
  list-style: none;
}
.logo-section-right-arrow{
  color:#585858;
  position:relative;
  top:.2vw;
  left: .3vw;
  transition: .4s;
}
.logo-section-button-contenedor:hover .logo-section-right-arrow{
  color:white;
  transform: translateX(1.3vw);
}
/* 3D SECCION============================== */
.modelos-3d-page-boton a{
text-decoration:none;
padding:.2vw 2vw;
border:1px solid gray;
color:#292931;
font-size:3vw;
border-radius:3px;
transition: .4s;
}
.modelos-3d-page-boton a:hover{
  background-color: #393944;
  color:white;

}
/* MOVILE SMALL ========================================================*/
@media (max-width:480px){
  .whatsapp-contacto a{
    font-size: 4vw;
  }
.modelos-3d-page-boton a{
  font-size: 3vw;
}
  
}
/* TABLETS====================================================== */
/* MENOS DE 780 ACTIVA ESTO */
@media (max-width:780px){
  .main-header, .main-nav{
    flex-direction: column;
  }
  .main-nav li{
    margin:10px;
  }
  .contenedor-logo{
    text-align: center;
    
  }
  .contenedor-logo img {
    width: 200px;
  }
.contacto-contenedor a{
  font-size: 2vw;
  
}
.modelos-3d-page-boton a{
  font-size: 2vw;
}
}
/* MAS DE 700 ACTIVA ESTO */
@media(min-width:700px){
  .contacto-contenedor a{
    font-size: 1.5vw;
  }
  .icon-back{
    font-size: 1.5vw;
  }
  .modelos-3d-page-boton a{
    font-size: 1.6vw;
  }
  
}
/* MOBILE ============================================================*/

/* COMPUTADORAS========================================================== */
/* MAS DE 1100 ACTIVA ESTO */
@media(min-width:1000px){
  .contacto-contenedor a{
    font-size: 1vw;
  }
  .icon-back{
    font-size: 1.5vw;
  }
  .modelos-3d-page-boton a{
    font-size: 1vw;
  }
}
/* COMPUTADORAS MAS GRANDES */
@media(min-width:1200px){
  .contacto-contenedor a{
    font-size: 1vw;
  }
  .icon-back{
    font-size: 1.2vw;
  }

}

/* Transicion de personalInfo */
.cv-back-container {
  position: relative;
}



.cv-back-component {
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
}

.cv-back-component.active {
  opacity: 1;
}
