.personal-info-contenedor {
  color: red;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  z-index: 1000;
  width: 100%;
  min-height: 65vw;
}
.personal-info-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
}
.personal-info-image img {
  object-fit: contain;
  width: 30vw;
  border-radius: 10px;
}

/* ------- */
.personal-info-text {
  background-color: brown;
  padding: 3vw;
  color: white;
  font-size: 2vw;
  transition: 0.5s ease-in-out;
}
.personal-info-text:hover {
  transform: scale(1.01);
}
.personal-info-text p {
  font-size: 1.5vw;
}
h4 {
  padding: 5px;
  background-color: rgb(218, 55, 55);
  font-family: 'Montserrat',sans-serif;
  margin-bottom:1vw;
}

/* profile =========================================*/
.profile {
  margin-top:2vw;
  border: 1px solid #ccc;
  padding: 2vw;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(29, 29, 29);
  font-family: "Poppins", sans-serif;
}

.profile h2 {
  margin-bottom: 1vw;
}

.profile p {
  font-size: 1.5vw;
  line-height: 1.6;
}

.profile strong {
  font-weight: bold;
}
