.contenedor-img img {
  width: 100%;
  height: auto;
}

.section-img {
  position: relative;
}
.downloadIcon {
  animation: downLoadIcon 1s ease-in infinite alternate;
  transition: .1s;
  animation-play-state: paused;
}
@keyframes downLoadIcon {
  to {
    transform: translateY(7px);
  }
}
.boton-cv {
  font-size: 3vw;
  font-weight: 400;
  position: absolute;
  color: #d1d1d1;
  text-decoration: none;
  padding: 3px 16px;
  bottom: 10%;
  left: 20%;
  transition: 0.2s ease;
  border: 1px solid #5c5c5cc0;
  border-radius: 1.2vw 0 1.2vw 0;
  background-color: transparent;
  &:hover {
    border-color: orangered;
    transform: scale(1.1);
  }
  &:hover .downloadIcon {
    animation-play-state: running;
    color: orangered;
  }
}
.cv-back-container {
  position: relative;
}

.cv-back-component {
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
}

.cv-back-component.active {
  opacity: 1;
}
